.login-box {
    border: 1px solid #ccc;
    margin-top: 5%;
    border-radius: 10px;
    padding: 15px;
}
.login-box .left{
    border-right: 1px solid #ddd;
    min-height: 310px;
    padding-left: 0;
}
.login-box .right{
    border-left: 1px solid #ddd;
    min-height: 310px;
    padding-right: 0;
}
.divisao {
    display: block;
    margin: 32px auto 5px;
    border-top: 1px solid #e9e9ec;
    text-align: center;
}
.ou {
    position: relative;
    bottom: 11px;
    z-index: 2;
    margin-top: 0px;
    margin-right: 11px;
    margin-left: 11px;
    padding: 0px 8px;
    background-color: #fff;
}
.texto {
    display: inline-block;
    margin-right: 9px;
    color: #79808b;
    font-size: 16px;
}